@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vollkorn:wght@400&display=swap");

body {
  margin: 0;
  padding: 0;
}

#logo {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

header {
  padding: 15px 0;
  background-color: white;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.nav-list a {
  text-decoration: none;
  color: #707070;
  font-size: 20px;
  font-family: "Vollkorn, Regular";
  padding: 5px 10px;
}

.nav-list a:hover {
  color: #86c4f6;
}
.back-img1 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-height: 60vh;
  width: 97.5%;
  padding: 20px;
  position: absolute;
  z-index: 1;
}

.back-img2 {
  opacity: 95%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-height: 60vh;
  width: 97.5%;
  padding: 20px;
  position: relative;
  z-index: 2;
}
#p1 {
  font-size: 44px;
  font-family: "Merienda, Regular";
  color: white;
  position: absolute;
  top: 45%;
  left: 40%;
  z-index: 2;
}

#p2 {
  font-size: 15px;
  color: white;
  position: absolute;
  top: 57%;
  left: 43%;
  opacity: 0.8;
  z-index: 2;
}
.back-img3 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-height: 18vh;
  width: 100%;
  padding: 20px;
  width: 97%;
  position: absolute;
  top: 480px;
  z-index: 2;
}
.content2-img1 {
  position: absolute;
  top: 600px;
  left: 360px;
  height: 300px;
}
#content2-p1 {
  font-family: Merienda, Regular;
  color: #1374c4;
  font-size: 28px;
  position: absolute;
  top: 650px;
  left: 52%;
}
#content2-p2 {
  font-family: Vollkorn, Regular;
  color: #6b6b6b;
  font-size: 13px;
  position: absolute;
  top: 710px;
  left: 48%;
  max-width: 480px;
}

#content3-p1 {
  font-family: Merienda, Regular;
  color: #1374c4;
  font-size: 29px;
  position: absolute;
  top: 950px;
  left: 21%;
}
#content3-p2 {
  font-family: Merienda, Regular;
  color: #1374c4;
  font-size: 22px;
  position: absolute;
  top: 952px;
  left: 38%;
}
.content3-imgs {
  position: absolute;
  top: 1050px;
  left: 20%;
  padding: 10px;
}
.content3-imgs img {
  height: 280px;
  padding-left: 10px;
}
.content3-meeting {
  position: absolute;
  top: 1500px;
  left: 21%;
  height: 350px;
  width: 870px;
}
#content4a-pa1 {
  position: absolute;
  top: 1900px;
  left: 21%;
  font-size: 18px;
}
#content4a-pb1 {
  position: absolute;
  top: 1940px;
  left: 21%;
  color: #6b6b6b;
  font-size: 14px;
  max-width: 900px;
}
#content4a-pa2 {
  position: absolute;
  top: 2020px;
  left: 21%;
  font-size: 18px;
}
#content4a-pb2 {
  position: absolute;
  top: 2060px;
  left: 21%;
  color: #6b6b6b;
  font-size: 14px;
  max-width: 900px;
}
#content4a-pa3 {
  position: absolute;
  top: 2165px;
  left: 21%;
  font-size: 18px;
}
#content4a-pb3 {
  position: absolute;
  top: 2210px;
  left: 21%;
  color: #6b6b6b;
  font-size: 14px;
  max-width: 900px;
}
#content4a-pa4 {
  position: absolute;
  top: 2285px;
  left: 21%;
  font-size: 18px;
}
#content4a-pb4 {
  position: absolute;
  top: 2330px;
  left: 21%;
  color: #6b6b6b;
  font-size: 14px;
  max-width: 900px;
}

.content4 {
  background-image: url("./Images-About/background3.png");
  max-height: 35vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  position: absolute;
  top: 2500px;
  margin-top: 80px;
  margin-bottom: 5px;
}

.wrapper4 {
  background-image: url("./Images-About/background4.png");
  min-height: 85vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  position: relative;
  z-index: 1;
}

.content4-p {
  color: #1374c4;
  font-size: 30px;
  font-family: "Merienda", Regular;
  position: absolute;
  top: 25px;
  left: 45%;
}

.wrapper4-img {
  position: absolute;
  top: 130px;
  left: 31%;
}

.wrapper4-img img {
  border: 1px solid #86c4f6;
  padding: 10px;
  width: 140px;
  height: auto;
  box-sizing: border-box;
}

#phone {
  height: 470px;
  position: absolute;
  top: 36%;
  left: 26%;
}

#block2-p1 {
  color: #1374c4;
  font-size: 30px;
  max-width: 220px;
  position: absolute;
  top: 50%;
  left: 53%;
}

#block2-p2 {
  color: black;
  font-size: 16px;
  max-width: 220px;
  position: absolute;
  top: 70%;
  left: 53%;
}

#block2-p3 {
  color: black;
  font-size: 10px;
  max-width: 300px;
  position: absolute;
  top: 75%;
  left: 53%;
}

.wrapper5 {
  margin-top: 40px;
  position: relative;
}

.wrapper5-img1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  opacity: 0.8;
}

.wrapper5-img2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1;
  opacity: 0.7;
}

.wrapper5-text1 {
  position: absolute;
  top: 180px;
  left: 45%;
  color: white;
  font-size: 26px;
  z-index: 2;
  font-family: "Merienda", Regular;
  text-align: center;
}
.wrapper5-text2 {
  position: absolute;
  top: 220px;
  left: 38%;
  color: rgb(246, 241, 241);
  font-size: 15px;
  z-index: 2;
  font-family: "Merienda", Regular;
  text-align: center;
  max-width: 430px;
}

.join {
  background-color: #ee7c00;
  color: #ffffff;
  height: 30px;
  width: 90px;
  position: absolute;
  top: 300px;
  left: 50%;
  border: #ee7c00;
  font-size: 12px;
  z-index: 2;
}
.wrapper5-img3 {
  position: relative;
  top: 450px;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 2;
}

.wrapper5-text3 {
  font-weight: bold;
  position: absolute;
  top: 520px;
  left: 45%;
  font-size: 26px;
  z-index: 2;
  text-align: center;
  max-width: 430px;
}

.wrapper5-box {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: absolute;
  top: 570px;
  left: 15%;
  width: 70%;
}

.blog-entry {
  display: flex;
  max-width: 45%;
  text-align: left;
  margin-bottom: 20px;
}

.wrapper5-img {
  width: 220px;
  height: 300px;
  margin-right: 15px;
}

.wrap5-para {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 180px;
}

.wrap11 {
  font-size: 13px;
  color: #1374c4;
  margin-bottom: 5px;
}

.wrap12 {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 5px;
}

.wrap13 {
  font-size: 12px;
  color: #6b6b6b;
  margin-bottom: 10px;
}
.view {
  background-color: #ee7c00;
  color: #ffffff;
  height: 30px;
  width: 90px;
  position: absolute;
  top: 375px;
  left: 50%;
  border: #ee7c00;
  font-size: 12px;
  z-index: 2;
}

.content5-1 {
  position: absolute;
  top: 1060px;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 40px;
  z-index: 2;
}

.newsletter-section {
  flex: 1;
  color: white;
  padding: 20px;
}

#wrapper-5-p1 {
  font-size: 24px;
  margin-bottom: 10px;
}

#wrapper-5-p2 {
  font-size: 14px;
  margin-bottom: 20px;
}

form {
  display: flex;
  align-items: center;
}

#wrapper-5-p3 {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 70%;
  font-size: 16px;
  margin-right: 10px;
}

.subscribe-button {
  background-color: #ee7c00;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.wrapper6 {
  margin-top: 40px;
  position: relative;
}

.wrapper6-img1 {
  position: absolute;
  top: 3700px;
  left: 0;
  width: 100%;
  height: 400px;
  opacity: 0.8;
}

.wrapper6-img2 {
  position: absolute;
  top: 3700px;
  left: 0;
  width: 100%;
  height: 400px;
  z-index: 1;
  opacity: 0.75;
}

.newsletter-section {
  position: absolute;
  top: 3790px;
  left: 23%;
  z-index: 2;
}
#wrapper6-p1 {
  font-size: 27px;
}
#wrapper6-p2 {
  font-size: 13px;
  font-family: "Vollkorn", Regular;
  opacity: 0.75;
}
#wrapper6-p3 {
  font-size: 10px;
  padding-left: 15px;
  height: 25px;
  width: 300px;
}
.subscribe {
  font-size: 12px;
  background-color: #ee7c00;
  color: white;
  padding: 8px 18px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 170px;
  left: 68%;
}

.newsletter-section2 {
  background-color: white;
  position: absolute;
  top: 3735px;
  left: 55%;
  height: 285px;
  width: 370px;
  z-index: 2;
}
#item-girl {
  height: 95px;
  width: auto;
  position: absolute;
  top: 15px;
  left: 25px;
}
#item-p1 {
  font-size: 20px;
  font-weight: 600;
  font-family: "Vollkorn", Regular;
  position: absolute;
  top: 100px;
  left: 25px;
}
#item-p2 {
  font-size: 12px;
  color: #6b6b6b;
  max-width: 220px;
  position: absolute;
  top: 140px;
  left: 25px;
}
.chatnow {
  font-size: 12px;
  position: absolute;
  top: 220px;
  left: 25px;
  background-color: #ee7c00;
  color: white;
  padding: 8px 18px;
  border: none;
  cursor: pointer;
}

.wrapper6-img3 {
  position: absolute;
  top: 4050px;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 2;
}
.wrapper7-img1 {
  position: absolute;
  top: 4200px;
  left: 0;
  width: 100%;
  height: 500px;
}
.wrapper7-logo {
  position: absolute;
  top: 4250px;
  left: 45%;
  z-index: 2;
}

.wrapper7-socials {
  position: absolute;
  top: 4380px;
  left: 42%;
  z-index: 2;
  height: 28px;
}

.wrapper7-man {
  position: absolute;
  top: 4300px;
  left: 80%;
  z-index: 2;
  height: 400px;
  margin: 0;
  padding: 0;
}
.wrapper7-items {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
}

.wrapper7-item1 {
  font-size: 20px;
  font-family: "Vollkorn", serif;
  font-weight: 600;
  margin-bottom: 10px;
}

.wrapper7-item2 {
  font-size: 15px;
  font-family: "Vollkorn", serif;
  color: #6b6b6b;
  margin: 3px 0;
}

.Important {
  position: absolute;
  top: 4500px;
  left: 20%;
}
.Quick-Links {
  position: absolute;
  top: 4500px;
  left: 35%;
}
.Partner {
  position: absolute;
  top: 4500px;
  left: 50%;
}
.Support {
  position: absolute;
  top: 4500px;
  left: 65%;
}
